@font-face {
  font-family: myFirstFont;
  src: url(fonts/Clip.ttf);
}

@font-face {
  font-family: display;
  src: url(fonts/TextMeOne-Regular.ttf);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #020102,
      0 0 40px #4e474b, 0 0 50px #292627, 0 0 60px #444343, 0 0 70px #585758;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #da7e41, 0 0 40px #eeb66d,
      0 0 50px #a3845b, 0 0 60px #a0600c, 0 0 70px #ebb16e, 0 0 80px #96430c;
  }
}

body {
  background-color: #ffd1b3;
}

#name {
  padding-left: 400px;
  padding-top: 15px;
  align-content: center;
  font-size: 35px;
  /* float: left; */
  color: black;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#player {
  padding-left: 120px;
  display: inline-block;
}

#computer {
  padding-left: 120px;
  display: inline-block;
}
